body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #f9f9f9;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: 24px;
  text-align: center;
}

#groupsContainer {
  margin-top: 10px;
}

#groupsList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.group-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  height: fit-content;
  width: 20rem;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.tabs {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 5px;
}

.tab-item {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tab-group {
  padding: 5px;
  border-radius: 4px 0 0 4px;
}

.tab-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding-left: 5px;
  width: 100%;
}

.group-name {
  font-weight: bold;
}

#groupsList button {
  margin-left: 5px;
}

input {
  border: none;
  outline: none;
}

button {
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tab-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tab-actions {
  display: flex;
  margin-left: 5px;
}

button:hover {
  background-color: #0056b3;
}

.delete {
  background-color: #dc3545;
}

.delete:hover {
  background-color: #bd2130;
}

.icon {
  padding: 5px;
  cursor: pointer;
}